<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
  "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
	<display-name>Struts Example Application</display-name>

	<!-- Action Servlet Configuration -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/classes/config/struts/struts-config.xml</param-value>
		</init-param>

		<init-param>
			<param-name>application</param-name>
			<param-value>ApplicationResources</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>


	<!-- Action Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>service-config</param-name>
		<param-value>/WEB-INF/classes/config/spring/application-config.spring.xml</param-value>
		<description>
			Location of the main service configuration file (as a resource in the classpath)
		</description>
	</context-param>
	<!--
		context-param> <param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/config/hibernate/applicationContext-hibernate.xml</param-value>
		</context-param
	-->

	<!-- The Welcome File List -->
	<welcome-file-list>
		<welcome-file>/jsps/rTunes.jsp</welcome-file>
	</welcome-file-list>

	<!-- Application Tag Library Descriptor -->

	<!-- Struts Tag Library Descriptors -->
	<!-- 
	<taglib>
		<taglib-uri>/WEB-INF/app.tld</taglib-uri>
		<taglib-location>/WEB-INF/classes/config/app.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
		<taglib-location>/WEB-INF/classes/config/struts-bean.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
		<taglib-location>/WEB-INF/classes/config/struts-html.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
		<taglib-location>/WEB-INF/classes/config/struts-logic.tld</taglib-location>
	</taglib>
	-->
	<!-- JSTL Tag Library Descriptors -->
	<!-- 
      <taglib>
        <taglib-uri>/taglibs/jstl/c</taglib-uri>
        <taglib-location>/WEB-INF/classes/config/jstl/c.tld</taglib-location>
      </taglib>

      <taglib>
        <taglib-uri>/taglibs/jstl/c-rt</taglib-uri>
        <taglib-location>/WEB-INF/classes/config/jstl/c-rt.tld</taglib-location>
      </taglib>

      <taglib>
        <taglib-uri>/taglibs/jstl/fmt</taglib-uri>
        <taglib-location>/WEB-INF/classes/config/jstl/fmt.tld</taglib-location>
      </taglib>

      <taglib>
        <taglib-uri>/taglibs/jstl/fmt-rt</taglib-uri>
        <taglib-location>/WEB-INF/classes/config/jstl/fmt-rt.tld</taglib-location>
      </taglib>

      <taglib>
        <taglib-uri>/taglibs/jstl/sql</taglib-uri>
        <taglib-location>/WEB-INF/classes/config/jstl/sql.tld</taglib-location>
      </taglib>

      <taglib>
      	<taglib-uri>/taglibs/jstl/sql-rt</taglib-uri>
      	<taglib-location>/WEB-INF/classes/config/jstl/sql-rt.tld</taglib-location>
      </taglib>
      <taglib>
		<taglib-uri>/taglibs/jstl/x</taglib-uri>
        <taglib-location>/WEB-INF/classes/config/jstl/x.tld</taglib-location>
      </taglib>

      <taglib>
		<taglib-uri>/taglibs/jstl/x-rt</taglib-uri>
		<taglib-location>/WEB-INF/classes/config/jstl/x-rt.tld</taglib-location>
      </taglib-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>